.flexbox {
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex-direction: column;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-direction: column;
    justify-content: flex-end;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    order: 2;
    order: -4;
    align-self: flex-end;
    order: 1;
    align-self: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: flex-start;
    align-content: flex-end;
    flex-direction: column-reverse;
    align-content: center;
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    justify-content: center
}

.Grid {
    grid-column-start: 3;

    grid-column-start: 5;

    grid-column-end: 4;

  grid-column-end:2;
  
  grid-column-end:5;

  grid-column-start:-3;

  grid-column-end:4;

  grid-column-end:6;

  grid-column-start:3;

  grid-column:4/6;

  grid-column:2/5;

  grid-row-start:3;

  grid-row:3/6;

  grid-column:2;
  grid-row:5;

   grid-column:2/span 4;
   grid-row:1/ span 5;

   grid-area:4/6/1/2;

   grid-area:2/6/5/3;

   order:1;

   order:-1;

   grid-template-columns:50%;

   grid-template-columns: repeat( 8, 12.5%);




}
